<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervasyonlar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    body {
        background-color: rgb(218, 226, 232);
    }
</style>
<body>
    {{>config}}
    <div class="container mt-5">
        <h1>Rezervasyonlar</h1>
        {{#each reservations}}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rezervasyon ID: {{this.rezervasyonid}}</h5>
                    <p class="card-text"><strong>Restoran ID:</strong> {{this.restoranid}}</p>
                    <p class="card-text"><strong>Tarih:</strong> {{this.rezervasyontarih}}</p>
                    <p class="card-text"><strong>Saat:</strong> {{this.rezervasyonsaat}}</p>
                    <form action="/rezervasyonlar/sil/{{this.rezervasyonid}}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Sil
                        </button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
